<nav class="navbar navbar-expand-sm bg-info navbar-light">
    <a class="navbar-brand" href="">Mon magasin</a>
    <ul class="navbar-nav">
        <li class="nav-item" *ngIf="authServ.isConnected">
        <a class="nav-link" href="" >Accueil</a>
        </li>
        <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="" id="navbardrop" data-toggle="dropdown" *ngIf="authServ.isConnected">Articles</a>
        <div class="dropdown-menu">
        <a class="dropdown-item" routerLink="/add-article" *ngIf="authServ.testerAdmin()">Ajouter</a>
        <a class="dropdown-item" routerLink="/forbidden" *ngIf="!authServ.testerAdmin()">Ajouter</a>
        <a class="dropdown-item" routerLink="/articles">Lister</a>
        <a class="dropdown-item" routerLink="/searchArticle" >Rechercher</a>
        </div>
        </li>
    </ul>
    <ul class="navbar-nav ml-auto" >
        <li class="nav-item dropdown">
        <a *ngIf="authServ.isConnected" class="nav-link dropdown-toggle" routerLink="#" id="navbardrop" data-toggle="dropdown">
        {{authServ.userCourant}}</a>
        
        <a *ngIf="!authServ.isConnected" class="dropdown-item" routerLink ="/connect">Connexion</a>
        <div class="dropdown-menu">
        <a *ngIf="authServ.isConnected" class="dropdown-item" routerLink ="#">Profile</a>
        <a *ngIf="authServ.isConnected" (click)="authServ.disconnect()" class="dropdown-item">Déconnexion</a>
        </div>
        </li>
        </ul>
    </nav>