<div class="container">
    <div class="card shadow mb-4">
    <div class="card-body">
    <h1>Liste des articles</h1>
    <table  width="100%">
    <thead>
    <tr>
    <th>Code</th>
    <th>Libellé</th>
    <th>Categorie</th>
    <th>Prix</th>
    <th>Quantité</th>
    <th>Date insertion</th>
    <th>Approvisionner</th>
    <th *ngIf="authServ.testerAdmin()">Action</th>
    </tr>
    </thead>
    <tbody *ngFor="let article of tab_art">
    <tr >
    <td>{{article.codea}}</td>
    <td>{{article.libelle}}</td>
    <td>{{article.categ.nomCat}}</td>
    <td>{{(article.prix).toFixed(1.3)}}</td>
    <td>{{article.qte}}</td>
    <td>{{article.dateAjout | date:'dd/MM/yyyy'}}</td>
    <td> <span *ngIf="article.qte === 0" [ngStyle]="zeroStyle">Oui</span>
        <span *ngIf="article.qte !== 0">Non</span></td>
    <td *ngIf="authServ.testerAdmin()"><a class="btn btn-warning m-md-3" [routerLink]="['/update-article',article.codea]"><img src="../../assets/img/edit.png"></a>
        <a class="btn btn-danger" (click)="suppArticle(article)"><img src="../../assets/img/delete.png"></a></td>
    </tr>
    </tbody>
 </table>
</div>
</div>
</div>
<div></div>