
<div class="container">
    <div class="card shadow mb-2">
    <div class="card-body">
    <h1 style="text-align:center;">Dashboard</h1><br>
    <div class="row">
    <div class="col-md-3">
    <div class="card card-stats text-white bg-primary">
    <div class="card-body ">
    <div class="row">
    <div class="col-5">
    <div class="icon-big text-center">
    <img src="../../assets/img/article.png" class="card-img-top" height="50"
    width="50">
    </div>
</div>
<div class="col-7 d-flex align-items-center">
<div class="numbers">
<p class="card-category">Articles</p>
<h4 class="card-title">{{nbArt}}</h4>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="col-md-3">
<div class="card card-stats text-white bg-danger">
<div class="card-body ">
<div class="row">
<div class="col-5">
<div class="icon-big text-center">
<img src="../../assets/img/categ.png" class="card-img-top" height="50"
width="50">
</div>
</div>
<div class="col-7 d-flex align-items-center">
<div class="numbers">
<p class="card-category">Categories</p>
<h4 class="card-title">{{nbCateg}}</h4>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="col-md-3">
<div class="card card-stats text-white bg-warning">
<div class="card-body">
<div class="row">
<div class="col-5">
<div class="icon-big text-center">
<img src="../../assets/img/user.png" class="card-img-top" height="50"
width="50">
</div>
</div>
<div class="col-7 d-flex align-items-center">
<div class="numbers">
<p class="card-category">Utilisateurs</p>
<h4 class="card-title">{{nbUsers}}</h4>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="col-md-3">
<div class="card card-stats text-white bg-success">
<div class="card-body ">
<div class="row">
<div class="col-5">
<div class="icon-big text-center">
<img src="../../assets/img/dollar.png" class="card-img-top" height="50"
width="50">
</div>
</div>
<div class="col-7 d-flex align-items-center">
    <div class="numbers">
        <p class="card-category">Total Stock</p>
        <h4 class="card-title">{{totalStock}}DT</h4>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>